@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);


.body {
	font-family: "Orbitron", sans-serif;	
	text-align: center;
	background: rgba(137,159,190,1);
	background: -moz-linear-gradient(left, rgba(137,159,190,1) 0%, rgba(137,159,190,1) 12%, rgba(92,115,153,1) 53%, rgba(92,115,153,1) 86%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(137,159,190,1)), color-stop(12%, rgba(137,159,190,1)), color-stop(53%, rgba(92,115,153,1)), color-stop(86%, rgba(92,115,153,1)));
	background: -webkit-linear-gradient(left, rgba(137,159,190,1) 0%, rgba(137,159,190,1) 12%, rgba(92,115,153,1) 53%, rgba(92,115,153,1) 86%);
	background: -o-linear-gradient(left, rgba(137,159,190,1) 0%, rgba(137,159,190,1) 12%, rgba(92,115,153,1) 53%, rgba(92,115,153,1) 86%);
	background: -ms-linear-gradient(left, rgba(137,159,190,1) 0%, rgba(137,159,190,1) 12%, rgba(92,115,153,1) 53%, rgba(92,115,153,1) 86%);
	background: linear-gradient(to right, rgba(137,159,190,1) 0%, rgba(137,159,190,1) 12%, rgba(92,115,153,1) 53%, rgba(92,115,153,1) 86%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#899fbe', endColorstr='#5c7399', GradientType=1 );
}


.formHeader h1 {
	padding: 5% 0 0 0;
	color: #606468;
	text-transform: uppercase;
	font-size: 3em;	
}

.formWrapper {
	background-color:#282e33;
	margin: 5% auto;
	width: 400px; 
	border-top: 3px solid #434a52;
 	border-bottom: 3px solid #434a52;
	}


.inputWrapper {
	margin: 0 auto;
	width: 90%;
	} 	
	
.lineWrapper {
	border: none;
	margin: 0.25em 0 0 0;	

	}
.button {
		margin: 0 auto;
  		background: #59ACFF;
  		border: 0;
    	width: 80%;
	    height: 40px;
	    border-radius: 3px;
	    color: #fff;
	    cursor: pointer;
	    transition: background 0.75s ease-in-out;
	    margin: 10% 0;
	}

.button:hover {
	background: #FFAC59;
}

label {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	border-right: 3px solid #434a52;
	color: #606468;
	float: left;
		 
	line-height: 50px;
	text-align: center;
	width: 15%;
	height: 40px;
	}


input {
	font-size: 1em;
	padding: 0 2%;
	border: none;
	line-height: 1.5em;
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #a9a9a9;
	width: 80%;
	height: 40px;
	}

.imageHolder.user {
	background-image: url('../images/user.png');
	background-repeat: no-repeat;
	background-position: center;
}

.imageHolder.pass {
	background-image: url('../images/pass.png');
	background-repeat: no-repeat;
	background-position: center;
}